<!-- SCRIPTS -->

<script>
    const ipc = require('electron').ipcRenderer;
    if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }
</script>


<%if (infos.env === "dev"){ %>

<!-- Socket.IO DEV-->
<script type="text/javascript" src="js/SocketIO/socket.io_dev.js"></script>

<%} else { %>

<!-- Socket.IO -->
<script type="text/javascript" src="js/SocketIO/socket.io.js"></script>

<% } %>

<!-- JQuery -->
<script type="text/javascript" src="js/Jquery/jquery.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/MDB/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/MDB/bootstrap.min.js"></script>

<!-- FontAwesome -->
<script type="text/javascript" src="js/FontAwesome/all.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/MDB/mdb.min.js"></script>
<script type="text/javascript" src="js/MDB/mdbconfig.js"></script>

<!-- Include my js -->
<script type="text/javascript" src="js/MyJS/header.js"></script>

<script>

    const socket = io();
    if (window.module) module = window.module;

</script>


</body>

</html>